.img-container{
    margin-top: 2rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

    img{
        border-radius: 0.2rem;
        height: 80%;
        width: 80%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        max-width: 100%;
        height: auto;
        
        
    }
}