@import "./Vars.scss";

* {
  font-family: $title-font;
}

@mixin colCenCen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexCenCen {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
}





